<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Diseño web de alto impacto visual y marketing eficaz. Creamos tu pagina web">
    <meta name="keywords" content="diseño, crear, web, paginas, marketing">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/prueba.css">
    <title>Acerca de DiPage</title>
</head>

<body>

    <header>

        <nav>
            <a href="..//Index.html">Inicio</a>
            <a href="./Acerca de Dipage.html">Acerca de DiPage</a>
            <a href="./Portfolio.html">Portfolio</a>
            <a href="./Servicios.html">Servicios</a>
            <a href="./Contacto.html">Contacto</a>
        </nav>

        <section class="textos-header">
            <h1>Dipage</h1>
            <h2>Potencia tus ideas con una pagina web</h2>
        </section>

        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgba(0,0,0,0.4);"></path>
            </svg></div>

    </header>

    <section class="about-services">

        <div class="contenedor">

            <h2 class="titulo">¿Porquè elegir Dipage?</h2>

            <div class="servicio-cont">

                <div class="servicio-ind">

                    <img src="../img/diseno.jpg" alt="">

                    <h3>Diseño & Tecnologìa</h3>

                    <p>Trabajamos con las más modernas y eficientes tecnologías para que su diseño web se destaque del
                        resto, en visual y funcionalidad. Con una moderna página web adaptable a celulares y tablets.
                    </p>

                </div>

                <div class="servicio-ind">

                    <img src="../img/experiencia.jpg" alt="">

                    <h3>Expriencia & Confiabilidad</h3>

                    <p>Nuestro principal objetivo como empresa es lograr su recomendación hacia nuevos posibles
                        clientes.</p>

                </div>

                <div class="servicio-ind">

                    <img src="../img/foco-marketing.jpg" alt="">

                    <h3>Marketing & Resultados</h3>

                    <p>Hacemos especial foco en los aspectos comerciales y de marketing, para que su estrategia en
                        internet sea efectiva. Desde el diseño, la comunicación y la publicidad, comprendemos que el
                        objetivo de su web es contribuir al crecimiento de su negocio.</p>

                </div>

                <div class="servicio-ind">

                    <img src="../img/flexibilidad.jpg" alt="">

                    <h3>flexibilidad</h3>

                    <p>Desarrollamos soluciones a medida que permiten un resultado flexible y eficientemente ligado a
                        las necesidades puntuales de su empresa.</p>

                </div>

            </div>

        </div>

    </section>

    <!--footer-->

    <footer>

        <div class="contenedor-footer">

            <div class="content-foo">

                <h4>Phone</h4>

                <p>54110000000</p>

            </div>

            <div class="content-foo">

                <h4>Email</h4>

                <p>Dipage@gmail.com</p>

            </div>

            <div class="content-foo">

                <h4>Location</h4>

                <p>Av. Alwais Alive 742</p>

            </div>

        </div>

        <div class="titulo-final">&copy; DiPage|Diseño Web</div>

    </footer>


</body>

</html>